html,
body,
#q-app,
.q-layout,
.q-page-container,
.q-page {
  height: 100%;
  overflow: hidden;
}

// Overrides

.q-field {
  &--with-bottom:has(&__messages:empty) {
    padding-bottom: 0;
  }

  &__bottom:has(&__messages:empty) {
    display: none;
  }
}

a {
  color: $light;

  &:hover {
    color: $primary;
  }
}
